body {
    background-color: green;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.img-container {
    text-align: center;
    padding-top:100px;
}
.img {
    max-width: 100%;
    height: auto;
    width:400px;
    text-align: center;
}
.head {
    font-size: 50px;
    text-align: center;
    color:white;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .head {
        font-size: 25px;
    }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
    .head {
        font-size: 18px;
    }
}
.head-1 {
    font-size:40px;
    text-align: center;
    color:white;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .head-1 {
        font-size: 25px;
    }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
    .head-1 {
        font-size: 18px;
    }
}
.head-2 {
    font-size: 40px;
    text-align: center;
    color:white;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .head-2 {
        font-size: 30px;
    }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
    .head-2 {
        font-size: 30px;
    }
}
.head-3{
    font-size: 40px;
    text-align: center;
    color:white;
    padding-top: 30px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .head-3 {
        font-size: 20px;
    }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
    .head-3 {
        font-size: 18px;
    }
}
.icone-container {
    text-align: center;
}
.link {
    text-decoration: none;
}
.youtube {
    width:50px;
}
.facebook {
    width:50px;
    padding-left: 30px;
}
.aboutus-container {
    text-align: center;
}
.contact-us {
    color:white;
    font-size:50px;
    text-align: center;
}
