body {
    background-color: green;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.img-container {
    text-align: center;
    padding-top:100px;
}
.img {
    max-width: 100%;
    height: auto;
    width:200px;
    text-align: center;
}
.head {
    color:white;
    font-size:20px;
    text-align: center;  
}
.head-1 {
    color:white;
    font-size:15px;
    text-align: center;
}
.head-2 {
    color:white;
    font-size:20px;
    text-align: center;
}

.head-3 {
    color:white;
    font-size:10px;
    text-align: center;
    padding-top:50px;
}
.icone-container {
    text-align: center;
}
.youtube {
    width:50px;
}
.facebook {
    width:50px;
    padding-left: 30px;
}
.aboutus-container {
    text-align: center;
}
.contact-us {
    color:white;
    font-size:10px;
    text-align: center;
}
